@import "./global.css";
@import "./nav.css";
@import "./today-date.css";
@import "./todo-list.css";

#wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

main {
    display: block;
    width: 100%;
    height: calc(100% - 51px);
    overflow-y: scroll;
}

.AddTodoBtn {
    position: absolute;
    left: calc(50% - 35px);
    bottom: 24px;
    width: 70px;
    height: 70px;

}
